doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/semantic/semantic.min.css')
    script(src="javascripts/jquery.js")    
  body
    div(class='ui fixed inverted menu')
      a(class='header item' href='/') Home    
      a(class='header item' href='/recognizer') Recognizer
      a(class='header item' href='/tagger') Tagger

    div(class='ui main container')
      block content
    script(src="javascripts/displacy-ent.js")
    script(src="javascripts/script.js")
  
    
