extends layout

block content
  h1= title
  
  script(src="javascripts/mark.js")
  
  div(class="ui ordered top attached steps")
    div(class="active step" id="step1")
      div(class="content")
        div(class="title") Uploading
        div(class="description") Choose a file to upload
    div(class="step" id="step2")
      div(class="content")
        div(class="title") Tagging
        div(class="description") Tag content with Named Entity
    div(class="step" id="step3")
      div(class="content")
        div(class="title") Confirm
        div(class="description") Verify the tag details  

  // Step 1
  div(class="ui raised very  padded container attached segment" id="step1-uploading")
    h3 Uploading TEST
    button(class="ui right blue labeled icon button" onClick="step2()") Tagging
      i(class="right arrow icon")    	
       
  // Step 2      
  div(class="ui raised very  padded container attached segment" id="step2-tagging")
    h3 Tagging
    div(class="radio-toolbar" id="tagger-radio-toolbar")
    div(class="ui clearing divider")
    p(id="sampleText" onmouseup="wrap()")  
    div(class="ui buttons")
      button(class="ui negative button" onClick="skipTagging()") Skip
      div(class="or")
      button(class="ui positive button" onClick="validateTagging()") Validate
      
    button(class="ui blue labeled submit icon button" id="accept" onClick="step3()") Confirm
      i(class="right arrow icon")
  // Step 3
  div(class="ui raised very  padded container attached segment" id="step3-confirm")
    h3 Confirm


 
  
    



