extends layout

block content
  h1= title
  
  script(src="javascripts/mark.js")
      
  div(class="ui raised very padded text container segment")
    div(class="radio-toolbar" id="tagger-radio-toolbar")
      // input(type="radio" id="radio1" name="radios" value="AAA" checked)
      // label(for="radio1") AAA
      // input(type="radio" id="radio2" name="radios" value="BBB")
      // label(for="radio2") BBB
      // input(type="radio" id="radio3" name="radios" value="CCC")
      // label(for="radio3") CCC
      // input(type="radio" id="radio4" name="radios" value="DDD")
      // label(for="radio4") DDD
      // input(type="radio" id="radio5" name="radios" value="EEE")
      // label(for="radio5") EEE
    div(class="ui clearing divider")
    p(id="sampleText" onmouseup="wrap()") Facebook, Inc. is an American online social media and social networking service company  
    button(class="ui blue labeled submit icon button" id="accept" onClick="accept()") Accept
      i(class='icon edit')

 

 
  
    



