.main.container { 
	margin-top: 7em;
}

.entities {
	margin-top: 2em;
    line-height: 2;
}

.c0137 {
    color: inherit;
    margin: 0 3px;
    display: inline;
    padding: 5px 8px;
    background: #ffe184;
    font-weight: bold;
    line-height: 1;
    -webkit-box-decoration-break: clone;
}

.c0141 {
    color: #583fcf;
    font-size: 16px;
    font-weight: bold;
    font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
    margin-left: 8px;
    text-transform: uppercase;
    vertical-align: middle;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: inline-block;
  background-color: #dfe3ee;
  padding: 4px 11px;
  margin-left: 3px;
  cursor: pointer;
  border-radius: 0.35em;

}

.radio-toolbar input[type="radio"]:checked+label {
  color: #ffffff;
  background-color: #3b5998;
}

[data-entity] {
    padding: 0.25em 0.35em;
     margin: 0px 0.25em;
     line-height: 1;
     display: inline-block;
     border-radius: 0.25em;
     border: 1px solid;
}

[data-entity]::after {
    box-sizing: border-box;
    content: attr(data-entity);
    font-size: 0.6em;
    line-height: 1;
    padding: 0.35em;
    border-radius: 0.35em;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0.1rem 0.5rem;
}

[data-entity][data-entity="person"] {
    background: rgba(166, 226, 45, 0.2);
    border-color: rgb(166, 226, 45);
}

[data-entity][data-entity="person"]::after {
    background: rgb(166, 226, 45);
}

[data-entity][data-entity="org"] {
    background: rgba(67, 198, 252, 0.2);
    border-color: rgb(67, 198, 252);
}

[data-entity][data-entity="org"]::after {
    background: rgb(67, 198, 252);
}

[data-entity][data-entity="date"] {
    background: rgba(47, 187, 171, 0.2);
    border-color: rgb(47, 187, 171);
}

[data-entity][data-entity="date"]::after {
    background: rgb(47, 187, 171);
}

[data-entity][data-entity="gpe"] {
    background: rgba(47, 187, 171, 0.2);
    border-color: rgb(47, 187, 171);
}

[data-entity][data-entity="gpe"]::after {
    background: rgb(47, 187, 171);
}

[data-entity][data-entity="loc"] {
    background: rgba(253, 151, 32, 0.2);
    border-color: rgb(253, 151, 32);
}

[data-entity][data-entity="loc"]::after {
    background: rgb(253, 151, 32);
}

[data-entity][data-entity="product"] {
    background: rgba(142,125,255, 0.2);
    border-color: rgb(142,125,255);
}

[data-entity][data-entity="product"]::after {
    background: rgb(142,125,255);
}

[data-entity][data-entity="date"] {
    background: rgba(253,151,32, 0.2);
    border-color: rgb(253,151,32);
}

[data-entity][data-entity="date"]::after {
    background: rgb(253,151,32);
}

[data-entity][data-entity="time"] {
    background: rgba(253,151,32, 0.2);
    border-color: rgb(253,151,32);
}

[data-entity][data-entity="time"]::after {
    background: rgb(253,151,32);
}

